body {
  margin: 0; 
  overflow: auto;
}
.login-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  height: 100vh;
  padding: 20px;
  padding-right: 90px;
  background: url('../assets/blue.jpg') no-repeat center center/cover;
  position: relative; 
}


.login-box {
  text-align: right;
  width: 400px; 
}


.login  {
  font-size: 32px;
  font-weight: bold;
  color: #181717;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-style: italic;
  text-shadow: #680a04;
}


form {
  display: flex; 
  flex-direction: column;
}

label {
  display: block;
  font-size: 22px;
  font-weight: bold;
  color: #0c0b0b; /* White text for contrast */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Soft shadow for readability */
  margin-bottom: 6px;
  letter-spacing: 0.8px;
  transition: color 0.3s ease-in-out;
}

/* Add hover effect for interactivity */
label:hover {
  color: #161616; /* A warm color glow */
  text-shadow: 3px 3px 10px rgba(12, 12, 12, 0.8);
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #1f1d1d;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #131212;
  color: rgb(22, 21, 21);
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #111010;
}

button[type="button"] {
  background-color: #28a745;
}

button[type="button"]:hover {
  background-color: #218838;
}


p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: rgb(26, 25, 25);
}

p a {
  color: #141414;
  font-weight: bold;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
  color: #212221;
}

.logo {
  position: absolute;
  top: 20px; 
  left: 20px; 
  width: 100px; 
  height: auto; 
  z-index: 10; 
  border-radius: 20px 20px 20px 20px; 
}

/* Responsive Design */
/* on mobile devices */
@media (max-width: 768px) {
  body {
    overflow: hidden; 
  }

  .login-container {
    flex-direction: column;
    background: none;
    justify-content: center;
    padding-left: 80px;
  }

  .login-box {
    width: 100%; 
    display: block;
  }

  h2 {
    color: rgb(41, 40, 40);
    font-size: 28px;
  }

  input {
    background: rgba(243, 236, 236, 0.8);
    border: 1px solid #fff;
  }

  p {
    background: transparent;
    color: white;
  }

  .logo {
    width: 100px;
  }
}
@media (min-width: 1024px) {
  .login-box {
    width: 400px; 
  }
}
